@import "./colors";

// header
.header {
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in-out;
  &__inner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  position: relative;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: column;
  margin: 0 60px 0 0;

  &__span {
    width: 30px;
    height: 2px;
    background: $white;
    border-radius: 10px;
    &:last-child {
      margin: 8px 0 0 0;
      width: 25px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__link {
    color: $grey;
    font-size: 14px;
    font-weight: 400;
    margin: 0 40px 0 0;
    text-transform: uppercase;
    position: relative;

    &:last-child {
      margin: 0;
    }
    &:hover {
      cursor: pointer;
    }
    &__active {
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: $grey;
        bottom: -46px;
        left: 0;
        position: absolute;
      }
    }
  }

  // nav__open
  &__open {
    align-items: center;
    justify-content: center;
    &__nav {
      flex-direction: column;
      align-items: center;
      & > a {
        margin: 20px 0 0 0 !important;
        font-size: 72px;
        &:first-child {
          margin: 0 !important;
        }
      }
    }
  }
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    cursor: pointer;
  }
}

.account {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey;

  &__search {
    display: none;
    // display: flex;
    align-items: center;
    position: relative;

    margin: 0 80px 0 0;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: $grey;
      position: absolute;
      bottom: -2px;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: clip-path 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }

    &__input {
      background: none;
      border: none;
      border-radius: 3px;
      padding: 4px 5px;
      color: $white;
      font-size: 16px;
      outline: none;

      max-width: 300px;
      width: 100%;
    }
  }

  &__profile {
    margin: 0 40px 0 0;
  }
  &__cart {
    margin: 0 20px 0 0;
    color: $white;
  }
  &__basket {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: $white;
    color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.listItems {
  z-index: 2;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: $lightGrey;
  top: 0;

  padding: 135px 0 0 0;
  // transition: all 0.3s ease-in-out;
  &__title {
    font-size: 18px;
  }
  &__container {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      flex-direction: column;
      & > div {
        display: flex;
        flex-direction: column;

        & > a {
          margin: 10px 0;
          &:first-of-type {
            margin: 20px 0 10px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  .account {
    &__search {
      margin: 0 40px 0 0;
    }
  }
}
.menuNav {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: $lightGrey;
  z-index: 9;
}

@media screen and (max-width: 1220px) {
  .account {
    &__search {
      &__input {
        max-width: 120px;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 1110px) {
  .account {
    &__search {
      display: none;
    }
  }
}
@media screen and (max-width: 1060px) {
  .nav {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .listItems {
    &__container {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 760px) {
  .header {
    &__inner {
      padding: 20px 0;
    }
  }
  .account {
    &__profile {
      margin: 0 20px 0 0;
    }
    &__cart {
      display: none;
    }
    &__profile {
      display: none;
    }
  }
}
@media screen and (max-width: 640px) {
  .logo {
    position: relative;
    left: 0;
    transform: translate(0, 0);

    transform: scale(0.8);

    flex: 1;
  }
  .menu {
    margin: 0 20px 0 0;
  }
  .nav {
    &__open {
      &__nav {
        & > a {
          font-size: 48px;
          text-align: center;
        }
      }
    }
  }
  .listItems {
    &__container {
      & > div {
        width: min-content;
      }
    }
  }
}
