@import "./colors";

.nav {
  top: 50vh;
  transform: translateY(-50%);
  position: sticky;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  &__link {
    color: $grey;
  }
}
@media screen and (max-width: 1540px) {
  .nav {
    padding: 0 0 0 40px;
  }
}
